@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ARM Templates</h1>
    <p class="lead">O deploy desta Web App foi feita através de ARM Templates utilizando um projeto no GitHub.</p>
    <img src="~/images/DevOpsSummitLogo.png" />
</div>

